<%- include ('partials/head', {style: 'register' , title: 'Registro' }) %>

</head>

<body>

    <%- include ('partials/header') %>
        <main>

            <form action="/admin/products/<%=product.id %>?_method=PUT" method="POST" class="create-form">
                <div class="caja1">
                    <div class="h2">
                        <h2>Formulario para editar actividad <%= product.name%></h2>
                    </div>
                    <div class="form-control">
                        <label>I.D:</label>
                        <input type="number" name="id" class="control" value="<%= product.id %>">
                    </div>
                    <div class="form-control">
                        <label>Nombre de la actividad:</label>
                        <input type="text" name="name" class="control" value="<%= product.name %>">
                    </div>
                    <div class="form-control">
                        <label>Descripción:</label>
                        <textarea type="text" name="description" placeholder="text-description" 
                            rows="5" style="width: 100%;"  ><%= product.description %></textarea required>
                    </div>
                <div class="form-control">
                    <label>Imagen: <%= product.image %> </label>
                    <input type="file" name="image" class="control" value="<%= product.image %>">
                </div>
                <div class="form-control">
                    <label>Dificultad: <%= product.category %> </label>
                    <select name="category" class="control">
                        <option value="Dificultad Baja">Dificultad Baja</option>
                        <option value="Dificultad Media">Dificultad Media</option>
                        <option value="Dificultad Alta">Dificultad Alta</option>
                        <option value="Dificultad Extrema">Dificultad Extrema</option> 
                    </select>
                </div>

                <div class="form-control">
                    <label>Precio $</label>
                    <input type="number" name="price" class="control" value="<%= product.price %>">
                </div>
                
                <div class="form-control">
                    <label>Fecha y Hora de INICIO: <%= product.dateStart%> </label>
                    <input type="datetime-local" name="dateStart" class="control" value="<%= product.dateStart%>">
                </div>
                <div class="form-control">
                    <label>Fecha y Hora de FINALIZACION: <%= product.dateFinish%></label>
                    <input type="datetime-local" name="dateFinish"  class="control" value="<%= product.dateFinish%>" >                    
                </div>      
                
                
                <div class="caja2">
                    <button type="submit" class="form-button">Subir</button>
                    <button type="reset" class="form-button">Limpiar</button>
                    <div class="pregunta-de-registro">
                        <label>¿Necesitas ayuda? <br>
                            Entra en este link</label>
                    </div> 
                </div>
                </div>
            </div>
            </form>
         </main>
    </header>

<%- include ('partials/footer') %> 