<%- include ('partials/head', {style: 'productDetailStyles' , title: 'Detalle del producto' }) %>
    </head>

    <body>
        <%- include ('partials/header') %>
        <main>            
            <div class="productContainer">
                        <div class="principalContainer">
                            <p class="activityTitle">
                                <%=product.name%>
                            </p>

                            <div class="productDescription">
                                <p class="description">
                                    <%=product.description%>
                                </p>
                                <div class="boxImage">
                                    <img class="slider-image" src="/images/products/<%=product.image%>" alt="Trekking">
                                </div>
                            </div>
                         

                            <div class="boxDetail">
                                <p class="detailInfo">Informacion Detallada</p>

                                <section class="boxInfo">

                                    <div class="boxInfoLeft">
                                        <article>
                                            <i class="fa-solid fa-money-bill-wave"></i>
                                            <span class="leftPrice">
                                                Precio: $<%=product.price%>
                                            </span>
                                        </article>
                                        <br>
                                        <article>
                                            <i class="fa-solid fa-dumbbell"></i>
                                            <span class="Dificulty">
                                               Nivel de dificultad: <%=product.dificulty%>
                                            </span>
                                        </article>
                                    </div>

                                    <div class="boxInfoRight">
                                        <article>
                                            <i class="fa-solid fa-play"></i>
                                            <span class="rightDateStart">
                                                Inicio de la actividad: <br><%=product.dateStart%>
                                            </span>
                                        </article>
                                        <br>
                                        <article>
                                            <i class="fa-solid fa-stop"></i>
                                            <span class="rightDateFinish">
                                                Fin de la actividad: <br><%=product.dateFinish%>
                                            </span>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>                    
                </main>
    </body>
    <%- include ('partials/footer') %>