<%- include ('partials/head', {style: 'productDetailStyles', title: 'Detalle del producto'}) %> 
</head>


<body>
<main>
    <% products.forEach(function(product){ %>
        <section class = "actividades_detalladas">
           
            
        <article>
          <div class="slider-image" 
            src="/images/Trekking.JPG" alt="Trekking">
        </div>
        <p>Información de la actividad:</p>
        <ul>
            <li>
                Nombre: <%=product.name%>
            </li>
            <li>
                Descripción: <%=product.description%>
            </li>
            <li>
                Precio: <%=product.price%>
            </li>
            <li>
                Categoría: <%=product.category%>
            </li>
            <li>
                Fecha de inicio: <%=product.date_start%>
            </li>
            <li>
                Hasta: <%=product.date_finish%>
            </li>
        </ul>
        </article>
        <% }) %>
    </section>
   

       <h1 class="titulo1">Trekking</h1>
        <h2 class="subtitulo">Descripcion de la actividad</h2>

        <div class="contenedor">
            <div class="dificultad">
                <h3>Dificultad</h3>
                <div class="barra">
                    <div class="proceso" style="--w:40%"> 40%
                    </div>
                </div>
            </div>

            <div class="DescripcionProducto">
                <p class="description">El trekking consiste en el desarrollo de caminatas por un entorno natural y
                    abierto
                    con fines recreativos.
                    Vamos a acceder desde RP13, recorriendo desde el centro cívico de Villa Pehuenia 12 kilómetros
                    hacia el norte con destino a Paso del Arco.</p>
                <div>
                    <img class="slider-image" src="/images/Trekking.JPG" alt="Trekking"></p>
                </div>

            </div>
            <div>

            </div>
        </div>

        <div>

            <menu class="info">Informacion Detallada</menu>
            <section class="BoxMadre">
                <div class="boxhijo1">
                    <article>
                        <i class="fa-regular fa-clock"></i>
                        <span class="Duracion">
                            Duración: tiene una duracion<br>
                            de 2 horas. <br>
                            Actividad apta entre 6 y 60 años.
                        </span>
                    </article>
                    <br>
                    <article>
                        <i class="fa-solid fa-ban"></i>
                        <span class="Duracion">
                            No apto para embarazadas,<br>
                            personas con dificultad de <br>
                            movilidad y problemas cardíacos.
                        </span>
                    </article>
                </div>
                <div class="boxhijo2">
                    <article>
                        <i class="fa-solid fa-route"></i>
                        <span class="recorrido">
                            Iniciamos en RP13, desde el centro <br>
                            cívico de Villa Pehuenia hasta <br>
                            Paso del Arco.
                        </span>
                    </article>
                    <br>
                    <article>
                        <i class="fa-solid fa-calendar-days"></i>
                        <span class="Calendario">
                            <br>
                            Esta actividad se realiza <br>
                            los martes y jueves de <br>
                            9 a 11 a.m
                        </span>
                    </article>
                </div>

            </section>
        </div>
        //
        <h1 class="titulo1">Kayac</h1>
        <h2 class="subtitulo">Descripcion de la actividad</h2>

        <div class="contenedor">
            <div class="dificultad">
                <h3>Dificultad</h3>
                <div class="barra">
                    <div class="proceso" style="--w:60%"> 60%
                    </div>
                </div>
            </div>

            <div class="DescripcionProducto">
                <p class="description">El método o técnica para ir en kayak es mediante unas palas o remos, los cuales
                    propulsan el kayak al introducirlos en el agua.El tripulante o tripulantes se encargan de de
                    realizar el
                    movimiento continuo y simultáneo para mover el kayak, consiguiendo así moverse hacia delante o
                    hacia atrás.

                </p>
                <div>
                    <img class="slider-image" src="/images/kayac.JPG" alt="Kayac"></p>
                </div>

            </div>
            <div>

            </div>
        </div>

        <div>

            <menu class="info">Informacion Detallada</menu>
            <section class="BoxMadre">
                <div class="boxhijo1">
                    <article>
                        <i class="fa-regular fa-clock"></i>
                        <span class="Duracion">
                            Duración: tiene una duracion<br>
                            de 3 horas. <br>
                            Actividad apta entre 10 y 50 años.
                        </span>
                    </article>
                    <br>
                    <article>
                        <i class="fa-solid fa-ban"></i>
                        <span class="Duracion">
                            No apto para embarazadas,<br>
                            personas con dificultad de <br>
                            movilidad y problemas cardíacos.
                        </span>
                    </article>
                </div>
                <div class="boxhijo2">
                    <article>
                        <i class="fa-solid fa-route"></i>
                        <span class="recorrido">
                            Iniciamos en el rio Aluminé, hasta el <br>
                            paraje Lonco Luan, recorreremos 14 <br>
                            kilometros de distancia en total.

                        </span>
                    </article>
                    <br>
                    <article>
                        <i class="fa-solid fa-calendar-days"></i>
                        <span class="Calendario">
                            <br>
                            Esta actividad se realiza <br>
                            los lunes de 10 a 13 a.m. <br>

                        </span>
                    </article>
                </div>
            </section>
            <h1 class="titulo1">Paracaidismo</h1>
            <h2 class="subtitulo">Descripcion de la actividad</h2>

            <div class="contenedor">
                <div class="dificultad">
                    <h3>Dificultad</h3>
                    <div class="barra">
                        <div class="proceso" style="--w:40%"> 40%
                        </div>
                    </div>
                </div>

                <div class="DescripcionProducto">
                    <p class="description">
                        El paracaidismo es la técnica de lanzamiento de seres humanos u objetos desde cierta altura
                        usando un paracaídas para amortiguar el impacto del aterrizaje. Se puede realizar desde
                        cualquier aeronave como un avión, helicóptero, globo aerostático o desde un objeto fijo elevado
                        a la altura necesaria.
                    </p>
                    <div>
                        <img class="slider-image" src="/images/paracaidismo.JPG" alt="Kayac"></p>
                    </div>

                </div>
                <div>

                </div>
            </div>

            <div>

                <menu class="info">Informacion Detallada</menu>
                <section class="BoxMadre">
                    <div class="boxhijo1">
                        <article>
                            <i class="fa-regular fa-clock"></i>
                            <span class="Duracion">
                                Duración: tiene una duracion<br>
                                de 1 hora y media. Actividad <br>
                                apta entre 20 y 50 años.
                            </span>
                        </article>
                        <br>
                        <article>
                            <i class="fa-solid fa-ban"></i>
                            <span class="Duracion">
                                No apto para embarazadas,<br>
                                personas con dificultad de <br>
                                movilidad y problemas cardíacos.
                            </span>
                        </article>
                    </div>
                    <div class="boxhijo2">
                        <article>
                            <i class="fa-solid fa-route"></i>
                            <span class="recorrido">
                                Esta actividad la vamos a <br>
                                realizar en el mirador de las
                                Antena. Desde un globo aerostatico. <br>
                            </span>
                        </article>
                        <br>
                        <article>
                            <i class="fa-solid fa-calendar-days"></i>
                            <span class="Calendario">
                                <br>
                                Esta actividad se realiza <br>
                                los viernes de 11 am a 18 p.m. <br>

                            </span>
                        </article>
                    </div>
                </section>
                <h1 class="titulo1">Parapente</h1>
                <h2 class="subtitulo">Descripcion de la actividad</h2>

                <div class="contenedor">
                    <div class="dificultad">
                        <h3>Dificultad</h3>
                        <div class="barra">
                            <div class="proceso" style="--w:40%"> 40%
                            </div>
                        </div>
                    </div>

                    <div class="DescripcionProducto">
                        <p class="description">El parapente es una aeronave ligera y flexible, hecha únicamente de
                            “cuerdas y tela”. La
                            disciplina deportiva se basa en el vuelo sin motor, despegando de una pendiente y volando
                            aprovechando las corrientes térmicas y dinámicas.
                        </p>
                        <div>
                            <img class="slider-image" src="/images/Parapente.JPG" alt="Parapente"></p>
                        </div>

                    </div>
                    <div>

                    </div>
                </div>

                <div>

                    <menu class="info">Informacion Detallada</menu>
                    <section class="BoxMadre">
                        <div class="boxhijo1">
                            <article>
                                <i class="fa-regular fa-clock"></i>
                                <span class="Duracion">
                                    Duración: tiene una duracion<br>
                                    de 2 horas. <br>
                                    Actividad apta entre 12 y 50 años.
                                </span>
                            </article>
                            <br>
                            <article>
                                <i class="fa-solid fa-ban"></i>
                                <span class="Duracion">
                                    No apto para embarazadas,<br>
                                    personas con dificultad de <br>
                                    movilidad y problemas cardíacos.
                                </span>
                            </article>
                        </div>
                        <div class="boxhijo2">
                            <article>
                                <i class="fa-solid fa-route"></i>
                                <span class="recorrido">
                                    Esta hermosa actividad<br>
                                    la vamos a realizar desde <br>
                                    el mirador de las Antenas.

                                </span>
                            </article>
                            <br>
                            <article>
                                <i class="fa-solid fa-calendar-days"></i>
                                <span class="Calendario">
                                    <br>
                                    Esta actividad se realiza <br>
                                    los sabados de 10 a 14 a.m. <br>

                                </span>
                            </article>
                        </div>
                    </section>
                    <h1 class="titulo1">Rappel</h1>
                    <h2 class="subtitulo">Descripcion de la actividad</h2>

                    <div class="contenedor">
                        <div class="dificultad">
                            <h3>Dificultad</h3>
                            <div class="barra">
                                <div class="proceso" style="--w:50%"> 50%
                                </div>
                            </div>
                        </div>

                        <div class="DescripcionProducto">
                            <p class="description">El rápel o también llamado rappel es un método de descenso por
                                cuerda. Es utilizado en
                                superficies verticales una pared o un tiro vertical.
                                El rápel suele ser utilizado en espacios abiertos o actividades tales como el
                                barranquismo,
                                montañismo, espeleología, escalada en roca y otras disciplinas que requieren de un
                                descenso
                                vertical.
                            <div>
                                <img class="slider-image" src="/images/Rappel.JPG" alt="Rappel"></p>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>

                    <div>

                        <menu class="info">Informacion Detallada</menu>
                        <section class="BoxMadre">
                            <div class="boxhijo1">
                                <article>
                                    <i class="fa-regular fa-clock"></i>
                                    <span class="Duracion">
                                        Duración: tiene una duracion<br>
                                        de 2 horas. <br>
                                        Actividad apta entre 15 y 50 años.
                                    </span>
                                </article>
                                <br>
                                <article>
                                    <i class="fa-solid fa-ban"></i>
                                    <span class="Duracion">
                                        No apto para embarazadas,<br>
                                        personas con dificultad de <br>
                                        movilidad y problemas cardíacos.
                                    </span>
                                </article>
                            </div>
                            <div class="boxhijo2">
                                <article>
                                    <i class="fa-solid fa-route"></i>
                                    <span class="recorrido">
                                        Esta actividad la vamos a <br>
                                        realizar en la montaña de Moquehue,<br>
                                        incluye una capacitacion obligatoria <br>
                                        de media hora.
                                    </span>
                                </article>
                                <br>
                                <article>
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span class="Calendario">
                                        <br>
                                        Esta actividad se realiza <br>
                                        los lunes de 10 a 13 a.m. <br>

                                    </span>
                                </article>
                            </div>
                        </section>
                        <h1 class="titulo1">Cabalgata</h1>
                        <h2 class="subtitulo">Descripcion de la actividad</h2>

                        <div class="contenedor">
                            <div class="dificultad">
                                <h3>Dificultad</h3>
                                <div class="barra">
                                    <div class="proceso" style="--w: 10%"> 10%
                                    </div>
                                </div>
                            </div>

                            <div class="DescripcionProducto">
                                <p class="description"> La cabalgata es una actividad de esparcimiento y deportiva que
                                    utiliza al equino en un medio
                                    natural
                                </p>
                                <div>
                                    <img class="slider-image" src="/images/cabalgata.JPG" alt="Kayac"></p>
                                </div>

                            </div>
                            <div>

                            </div>
                        </div>

                        <div>

                            <menu class="info">Informacion Detallada</menu>
                            <section class="BoxMadre">
                                <div class="boxhijo1">
                                    <article>
                                        <i class="fa-regular fa-clock"></i>
                                        <span class="Duracion">
                                            Duración: tiene una duracion<br>
                                            de 1 hora. <br>
                                            Actividad apta entre 5 y 60 años.
                                        </span>
                                    </article>
                                    <br>
                                    <article>
                                        <i class="fa-solid fa-ban"></i>
                                        <span class="Duracion">
                                            Apto para embarazadas,<br>
                                            personas con dificultad de <br>
                                            movilidad y problemas cardíacos.
                                        </span>
                                    </article>
                                </div>
                                <div class="boxhijo2">
                                    <article>
                                        <i class="fa-solid fa-route"></i>
                                        <span class="recorrido">
                                            Vamos a realizar la cabalgata en Villa<br>
                                            Pehuenia, Moquehue.
                                        </span>
                                    </article>
                                    <br>
                                    <article>
                                        <i class="fa-solid fa-calendar-days"></i>
                                        <span class="Calendario">
                                            <br>
                                            Esta actividad se realiza <br>
                                            de lunes a viernes de 9 a 11 a.m. <br>

                                        </span>
                                    </article>
                                </div>
                            </section>
                            <h1 class="titulo1">Ciclismo</h1>
                            <h2 class="subtitulo">Descripcion de la actividad</h2>

                            <div class="contenedor">
                                <div class="dificultad">
                                    <h3>Dificultad</h3>
                                    <div class="barra">
                                        <div class="proceso" style="--w:80%"> 80%
                                        </div>
                                    </div>
                                </div>

                                <div class="DescripcionProducto">
                                    <p class="description"> El ciclismo de montaña,es considerado un deporte de riesgo,
                                        esta actividad es realizada en
                                        circuitos naturales a través de bosques por caminos angostos con cuestas
                                        empinadas.

                                    </p>
                                    <div>
                                        <img class="slider-image" src="/images/ciclismo.JPG" alt="ciclismo"></p>
                                    </div>

                                </div>
                                <div>

                                </div>
                            </div>

                            <div>

                                <menu class="info">Informacion Detallada</menu>
                                <section class="BoxMadre">
                                    <div class="boxhijo1">
                                        <article>
                                            <i class="fa-regular fa-clock"></i>
                                            <span class="Duracion">
                                                Duración: tiene una duracion<br>
                                                de 2 horas. <br>
                                                Actividad apta entre 18 y 50 años.
                                            </span>
                                        </article>
                                        <br>
                                        <article>
                                            <i class="fa-solid fa-ban"></i>
                                            <span class="Duracion">
                                                No apto para embarazadas,<br>
                                                personas con dificultad de <br>
                                                movilidad y problemas cardíacos.
                                            </span>
                                        </article>
                                    </div>
                                    <div class="boxhijo2">
                                        <article>
                                            <i class="fa-solid fa-route"></i>
                                            <span class="recorrido">
                                                Esta actividad la vamos <br>
                                                a realizar en Moquehue, es un <br>
                                                circuito de 10km.

                                            </span>
                                        </article>
                                        <br>
                                        <article>
                                            <i class="fa-solid fa-calendar-days"></i>
                                            <span class="Calendario">
                                                <br>
                                                Esta actividad se realiza <br>
                                                los lunes de 10 a 13 a.m. <br>

                                            </span>
                                        </article>
                                    </div>
                                </section>
                                <h1 class="titulo1">Espeleismo</h1>
                                <h2 class="subtitulo">Descripcion de la actividad</h2>

                                <div class="contenedor">
                                    <div class="dificultad">
                                        <h3>Dificultad</h3>
                                        <div class="barra">
                                            <div class="proceso" style="--w:55%"> 55%
                                            </div>
                                        </div>
                                    </div>

                                    <div class="DescripcionProducto">
                                        <p class="description">Consiste básicamente en explorar cavidades geológicas
                                            naturales, valiéndose de
                                            técnicas y equipos específicos de descenso y desplazamiento.


                                        </p>
                                        <div>
                                            <img class="slider-image" src="/images/Espeleismo.JPG" alt="Espeleismo"></p>
                                        </div>

                                    </div>
                                    <div>

                                    </div>
                                </div>

                                <div>

                                    <menu class="info">Informacion Detallada</menu>
                                    <section class="BoxMadre">
                                        <div class="boxhijo1">
                                            <article>
                                                <i class="fa-regular fa-clock"></i>
                                                <span class="Duracion">
                                                    Duración: tiene una duracion<br>
                                                    de 2 horas. <br>
                                                    Actividad apta entre 20 y 50 años.
                                                </span>
                                            </article>
                                            <br>
                                            <article>
                                                <i class="fa-solid fa-ban"></i>
                                                <span class="Duracion">
                                                    No apto para embarazadas,<br>
                                                    personas con dificultad de <br>
                                                    movilidad y problemas cardíacos.
                                                </span>
                                            </article>
                                        </div>
                                        <div class="boxhijo2">
                                            <article>
                                                <i class="fa-solid fa-route"></i>
                                                <span class="recorrido">
                                                    Esta actividad la vamos <br>
                                                    a realizar en Moquehua.

                                                </span>
                                            </article>
                                            <br>
                                            <article>
                                                <i class="fa-solid fa-calendar-days"></i>
                                                <span class="Calendario">
                                                    <br>
                                                    Esta actividad se realiza <br>
                                                    los lunes de 9 a 13 a.m. <br>

                                                </span>
                                            </article>
                                        </div>
    </main>
    </body>
    <%- include ('partials/footer') %> 